// These colors are specific to the theme. Do not use in a package!

@white: #949d9d;
@very-light-gray: lighten(@dark-gray, 45%);
@light-gray: #6e7063;
@gray: lighten(@dark-gray, 30%);
@dark-gray: #1a1c1a;
@black: #080a0a;

@cyan: #619994;
@blue: #5d6074;
@purple: #3d3555;
@green: #8e7f3d;
@red: #6e7063;
@light-purple: #9a989f;
@yellow: #b0af6f;
